# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Virtual Environments
venv/
.venv/
env/
.env

# Database files
*.db
*.sqlite3

# Generated documentation
visualisation/

# OS-specific files
.DS_Store
Thumbs.db
